#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter; 
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.hidden-mobile {
  display: none;
}

@media (min-width: 768px) {
  .hidden-mobile {
    display: flex;
  }
}
.break-mobile {
  display: inline;
}

@media (max-width: 768px) {
  .break-mobile::after {
    content: "\A"; /* Forces a line break */
    white-space: pre; /* Preserves the line break */
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1); /* Börja och avsluta med originalstorlek */
  }
  50% {
    transform: scale(1.2); /* Större vid mitten av animationen */
  }
}

.heart-pulse {
  animation: pulse 2s infinite; /* Kör animationen kontinuerligt var 2:a sekund */
}
